<!DOCTYPE html>
<html>
<head>
  <title>Pirage</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= auto_discovery_link_tag(:atom, url_for(:controller => :images, :action => :index, :format => :atom, :only_path => false)) %>
</head>
<body>

<%= yield %>

</body>
</html>
